
body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #3b0273;
}

/* Phone Nav rules */
@media screen and (max-width: 600px) {

    .headCase {
      background-color: #aa8abd;
      border-radius: 0rem 0rem 2rem 2rem;
      filter: drop-shadow(0 4px 2px #3b027380); 
    }
  
    #navbar {
      background-color: #f5e7dc;
      padding: 0.5rem 2%;
      border-radius: 2rem 2rem 2rem 2rem;
      border: solid 3px #3b0273;
      box-shadow: 4px 3px 5px #3b027395 inset;
    }
  
   .mynav {
      list-style-type: none;
      padding: 0;
    }
  
   .mynav a {
      border: solid 2px #aa8abd;
      display: block;
      padding: 0.5rem 5%;
      background-color: #64428c;
      margin: 0 .5rem .5rem .5rem;
      border-radius: 0.8rem;
      color: #f5e7dc;
      font-weight: bold;
      font-family: "Verdana";
      text-decoration: none;
      
    }
    .active a {
      background-color: #faa16f;
      color: #3b0273;
      font-weight: 600;
      transition: 0.1s;
      box-shadow: 2px 3px 3px #3b0273 inset;
      text-shadow: 2px 1px 3px #f5e7dc;
    }
  
    #navbar a:hover {
      background-color: #aa8abd;
      transition: 0.2s;
      font-weight: bold;
      box-shadow: 1px -2px 2px #3b027395 inset;
      text-shadow: 2px 1px 3px #3b0273;
   
    }
  
  }
  /* End Phone Nav */
  
  /* Desktop Nav rules */
  @media screen and (min-width: 601px) {
   
    .headCase {
      background-color: #aa8abd;
      border-radius: 0rem 0rem 2rem 2rem;
    }
   
    #navbar {
      height: 100%;
      display: flex;
      justify-content: center;
      background-color: #64428c;
      border: 1px solid #3b0273;
      font-family: "Verdana";
      border-radius: 2rem 2rem 2rem 2rem;
      filter: drop-shadow(0 4px 2px #3b027380);
      box-shadow: -2px -4px 3px #3b027390 inset;
    }
  
    .mynav {
      padding: 0;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      font-family: "Verdana";
    }
  
    .mynav a {
      color: #f5e7dc;
      font-weight: bold;
      padding: 15px 1.3rem;
      text-decoration: none;
    }
    .active a {
      background-color: #faa16f;
      color: #3b0273;
      font-weight: 600;
      transition: 0.4s;
      border: solid 2px #3b0273;
      box-shadow: 2px 3px 3px #3b027395 inset;
      text-shadow: 2px 1px 3px #f5e7dc;
    }
  
    #navbar a:hover {
      background-color: #aa8abd;
      transition: 0.2s;
      font-weight: bold;
      border: solid 1px #3b0273;
      box-shadow: 2px -3px 3px #3b027395 inset;
      text-shadow: 2px 1px 3px #3b0273;
    }
  }
  /*End Desktop Nav*/

.webIframe {
    width: 90%;
    height: 10rem;
    margin-left: 5%;
    border: none;
    
}

/* table style*/
table.sub {
    
    box-shadow: 1px 3px 10px #456;
    background-color: #f5e7dc;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;

}

table.sub th {
    background-color: #64428c;
    padding: .5rem;
    color: white;
}

table.sub td {
    padding: .5rem;
    border-bottom: solid 1px #3b0273;
}
table.sub tr:nth-child(even) {
    background-color: #aa8abd;
}

table.sub tr:hover {
    background-color: #3b0273;
    color: #f5e7dc;
    font-weight: bold;
}



